html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Fontit';
  src: url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=IBM+Plex+Sans+Devanagari:wght@100;200;300;400&display=swap');
}
